<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head-css">
</head>
    <title>Login</title>

<!-- 	<body id="mimin" class="dashboard form-signin-wrapper"> -->
	<body  class="hold-transition login-page">
	
	  <script>
  
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '257939481517221',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.1'
    });
      
    FB.AppEvents.logPageView();  
      
  };
  
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
  function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }
  

  FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
  });
  
  


  
</script>

	
	<div class="login-box">
  <div class="login-logo">
    <a href="#">Marcella<b>Lima</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Acesse para Iniciar sua Sessao</p>

    <form method="post" th:object="${usuario}" th:action="@{/login}" role="form">
      <div class="form-group has-feedback">
        <input type="text" id="email" name="email"  class="form-control" placeholder="Email"/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password"  id="senha" name="senha" class="form-control" placeholder="Password" />
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <div class="checkbox">
            <label>
              <input type="checkbox" /> Lembrar Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-5">
          <input type="submit" class="btn btn-primary btn-raised btn-block btn-flat"></input>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OU -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook </a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+ </a>
        
        <fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

    </div>
    <!-- /.social-auth-links -->

    <p> <a href="#">Esqueci a Senha </a></p>
    <a href="register.html" class="text-center">Registrar novo Usuario </a>

  </div>
  <!-- /.login-box-body -->
</div>

			
<!-- 	  <div class="container"> -->

<!--         <form class="form-signin"  method="post" th:object="${usuario}" th:action="@{/login}" role="form"> -->
<!--           <div class="panel periodic-login"> -->
<!--               <span class="atomic-number">69</span> -->
<!--               <div class="panel-body text-center"> -->
<!--                   <h1 class="atomic-symbol">Un</h1> -->
<!--                   <p class="atomic-mass">69.123</p> -->
<!--                   <p class="element-name">Underground</p> -->

<!--                   <i class="icons icon-arrow-down"></i> -->
<!--                   <div class="form-group form-animate-text" style="margin-top:40px !important;"> -->
<!--                     <input type="text" id="email" name="email"  class="form-text" required="required" /> -->
<!--                     <span class="bar"></span> -->
<!--                     <label>Username</label> -->
<!--                   </div> -->
<!--                   <div class="form-group form-animate-text" style="margin-top:40px !important;"> -->
<!--                     <input type="password"  id="senha" name="senha" class="form-text" required="required" /> -->
<!--                     <span class="bar"></span> -->
<!--                     <label>Password</label> -->
<!--                   </div> -->
<!--                   <label class="pull-left"> -->
<!--                   <input type="checkbox" class="icheck pull-left" name="checkbox1"/> Remember me -->
<!--                   </label> -->
<!--                   <input type="submit" class="btn col-md-12" value="SignIn"/> -->
<!--               </div> -->
<!--                 <div class="text-center" style="padding:5px;"> -->
<!--                     <a th:href="@{/esquecisenha}">Esqueci a Senha</a> -->
<!--                     <a th:href="@{/registro}">| Registre-se</a> -->
<!--                 </div> -->
<!--           </div> -->
<!--         </form> -->

<!--       </div> -->


<!--           <div class="login" > -->
<!-- 			<form method="post" th:object="${usuario}" th:action="@{/login}" role="form" > -->
<!--               <div> -->
<!-- 		    	<input type="text" id="username" name="username" class="form-control" -->
<!-- 		           th:value="${username}" placeholder="Digite seu Usuario"/> -->
		           
<!-- 		      </div> -->
<!--               <div> -->
<!-- 		    	<input type="password" id="senha" name="senha" class="form-control" -->
<!-- 		           th:value="${senha}" placeholder="Digite sua Senha"/> -->
<!-- 		      </div> -->
		      
<!--               <div> -->
<!-- 		   		 <button type="submit" value="login" class="btn btn-success">Entrar</button> -->
<!--                 	<span class=""><a class="reset_pass" th:href="@{/usuario/lost}"><small>Perdeu sua Senha?</small></a></span> -->
<!--               </div> -->


<!--             </form> -->
<!--           </div> -->
        
        
<!--       </div> -->


                      <div th:replace="fragmentos/footer :: script">
      </div>
      
      

      
  </body>
  



</html>
