<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
    
	
	</head>
		
		<title>Rotas</title>

			<body  class="hold-transition skin-blue sidebar-mini">
			
			<div class="wrapper">

	   			  <nav th:replace="fragmentos/top-nav :: nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>
				
		  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rotas
        <small>Controle de  Rotas</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Rotas</a></li>
        <li class="active">Rotas</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
     
 	<div id="map" style="height: 100%;"></div> 

    </section>
    <!-- /.content -->
  </div>

	<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
	
		</div>	
		
	<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
		
		
						   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUyMYsukxj_Dp3UqiVCjEssZelR9gWlss&callback;=initMap"
      th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyDUyMYsukxj_Dp3UqiVCjEssZelR9gWlss&callback;=initMap}" type="text/javascript">
    </script>
		
		
		
<!-- 								<script src="http://rawgit.com/HPNeo/gmaps/master/gmaps.js" -->
<!-- 			th:src="@{http://rawgit.com/HPNeo/gmaps/master/gmaps.js}" th:inline="javascript" ></script> -->
		

		
<!-- 		<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEEHTuWU99vzB3diFQqZmbNki3xpWz2b8&callback=initMap"></script> -->
		



		
</body>
			
			
</html>

